#about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .heading-one {
    font-weight: 600;
    font-size: 2rem;
    margin: 60px 0;
  }
  .heading-two {
    font-size: 4rem;
    font-weight: 600;
  }
}
.about-stories {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .about-story {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;

      img{
        max-width: 300px;
      }

    .content {
      max-width: 700px;
      .content-heading {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
      }
      .content-one {
        font-size: 18px;
        margin-bottom: 1rem;
        
      }
      .content-two {
        font-size: 18px;
        margin-bottom: 2rem;
        line-height: 1.8rem;
      }
      .content-three {
        font-size: 1.2rem;
      }
      .services-link {
        text-decoration: none;
        color: rgba(0, 0, 0, 1);
        border: 1px solid rgba(0, 0, 0, 1);
        border-radius: 2rem;
        padding: 0.8rem;
        transition: 0.2s linear;
        &:hover {
          background: #2b616d;
          border: 1px solid #2b616d;
          color: rgba(255, 255, 255, 1);
        }
      }
      .questions {
        font-weight: 600;
        color: $primary;
      }
    }
  }
}
.connect {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, $primary, #ffffff);
  
  padding: 4rem;
  border-radius: 1rem;
  .connect-heading {
    font-size: 3rem;
    color: #000;
    margin-bottom: 1rem;
  }
  .connect-content {
    color: #000;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .connect-button {
    color: #000;
    padding: 1rem;
    background: #fff;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    transition: 0.2s linear;
    &:hover {
      text-decoration: underline;
    }
  }
}
