@media only screen and (min-width: 1024px){
    .mobile-menu-wrapper{
        display: none;
    }
}

@media only screen and (max-width: 1023px){
    .mobile-menu-wrapper{
        position: fixed;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%) !important;
        padding: 10px 20px;
        border-radius: 5px;
        z-index: 1;
        background-color: $primary;
    }
    .mobile-menu{
        display: flex;
    }
    .menu-item a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu-item:not(:last-child){
        margin: 0 15px 0 0;
    }
    .menu-item-space, .menu-icons{
        color: #000;
    }
    .navigation{
        display: none;
    }
    #home{
        margin: 50px 0 150px;
    }
    #home .flex{
        flex-direction: column;
        align-items: center;
    }
    .atf-content{
        text-align: center;
        margin: 0 0 70px;
    }
    #services{
        margin: 40px 0 80px;
    }
    #services .section-heading h1{
        margin: 0 0 50px 0;
    }
    #services .services .service{
        margin: 0 20px 40px;
    }
    .projects .project .project-content{
        max-width: 350px;
    }
    .projects .project .project-content h1{
        font-size: 22px;
    }
    .projects .project .project-content .date{
        font-size: 14px;
    }
    .projects .project .project-content .project-description{
        font-size: 14px;
    }
    .projects .project .project-image img{
        
        max-width: 350px;
    }
    #contact .contact-main-content{
        flex-direction: column;
    }
    #contact .contact-heading h1{
        font-size: 36px;
    }
    #contact .contact-main-content .contact-descriptive-content{
        margin: 0;
    }
    #contact .contact-main-content .contact-descriptive-content .contact-descriptive-heading{
        font-size: 20px;
    }
    #contact .contact-main-content .contact-descriptive-content .contact-descriptive-text{
        font-size: 16px;
        line-height: 1.5;
    }
    #contact .contact-main-content .contact-descriptive-content .icon-content .icon .fas{
        max-width: 36px;
        max-height: 36px;
        font-size: 1rem;
    }
    #contact .contact-main-content .contact-descriptive-content .icon-content .icon .icon-text{
        font-size: 16px;
        margin: 0 0 0 16px;
    }
    .icon-content{
        display: flex;
        flex-wrap: wrap;
    }
    #reviews .reviews-description{
        text-align: center;
    }
    #reviews .reviews-description h1{
        font-size: 36px;
    }
    #reviews .reviews-description .reviews-description-para, #reviews .reviews .review-card .reviews-card-detail{
        font-size: 18px;
    }
    #reviews .reviews{
        flex-direction: column;
    }
    #reviews .reviews .review-card{
        max-width: 550px;
    }
    #reviews .reviews .review-card:not(:last-child){
        margin: 0 0 20px;
    }
}

@media only screen and (max-width: 768px){
    .navigation .container{
        justify-content: center;
    }
    #home .home-heading-one{
        font-size: 18px;
    }
    #home .home-heading-two, #services .section-heading h1, #trust .trusted-brands h1{
        font-size: 30px;
        text-align: center;
    }
    #services .services .service .service-details p{
        font-size: 16px;
    }
    #services .services .service img{
        max-width: 64px;
        max-height: 64px;
    }
    #trust .trusted-brands .brands img{
        max-width: 90px;
    }
    .projects .project{
        flex-direction: column;
        align-items: center;
    }
    .projects .project:not(:last-child){
        margin: 0 0 60px 0;
    }
    .projects .project .project-content{
        align-items: center;
    }
    .projects .project .project-content h1{
        font-size: 18px;
    }
    .projects .project .project-content .date{
        margin: 0 0 10px;
    }
    .projects .project .project-content .project-description{
        text-align: center;
    }
    .about-stories .about-story{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .about-stories .about-story:not(:last-child){
        margin: 0 0 30px;
    }
    .about-stories .about-story .content{
        text-align: center;
    }
    .about-heading .heading-one{
        margin: 30px 0;
    }
    .about-stories .about-story .content .content-one{
        font-size: 16px;
    }
    .about-stories .about-story img{
        margin: 0 0 20px;
        max-height: 300px;
        order: -1;
    }
    .connect{
        padding: 20px;
        margin: 20px 0;
    }
    .connect .connect-heading{
        font-size: 30px;
    }
    .connect .connect-content{
        font-size: 18px;
    }
    .connect .connect-button{
        font-size: 14px;
        letter-spacing: 1px;
    }
    #footer{
        margin: 30px 0 0;
    }
    #contact .contact-heading h1{
        font-size: 30px;
    }
    #contact .contact-main-content .contact-descriptive-content .contact-descriptive-heading{
        font-size: 18px;
    }
    #contact .contact-main-content .contact-descriptive-content .contact-descriptive-text{
        font-size: 14px;
    }
    #reviews .reviews-description h1{
        font-size: 30px;
    }
    #reviews .reviews-description .reviews-description-para, #reviews .reviews .review-card .reviews-card-detail{
        font-size: 16px;
    }
    #reviews .reviews .review-card{
        padding: 25px 30px;
        border-radius: 10px;
    }
    #reviews .reviews .review-card:hover{
        transform: scale(1.06);
    }
}

@media only screen and (max-width: 500px){
    #home .home-heading-one{
        font-size: 14px;
    }
    #home .home-heading-two, #services .section-heading h1, #trust .trusted-brands h1{
        font-size: 24px;
    }
    #services{
        margin: 40px 0;
    }
    #services .services{
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    #services .services .service .service-details h2{
        font-size: 18px;
    }
    #services .services .service .service-details p{
        font-size: 14px;
        line-height: 1.6;
    }
    #services .services .service img{
        max-width: 48px;
        max-height: 48px;
    }
    #trust .trusted-brands .brands img{
        max-width: 70px;
    }
    #footer{
        flex-direction: column;
        align-items: center;
    }
    .footer_year{
        margin: 0 0 10px;
    }
    .about-stories .about-story .content .content-one{
        font-size: 14px;
    }
    .connect .connect-heading{
        font-size: 24px;
    }
    .connect .connect-content{
        font-size: 14px;
    }
    .connect .connect-button{
        padding: 13px 16px;
    }
    #contact .contact-heading{
        margin: 40px 0 0;
    }
    #contact .contact-heading h1{
        font-size: 20px;
    }
    #contact .contact-main-content .contact-descriptive-content .contact-descriptive-heading{
        font-size: 16px;
    }
    #contact .contact-main-content .contact-descriptive-content .icon-content .icon .icon-text{
        font-size: 14px;
    }
    #contact .contact-main-content .contact-descriptive-content .icon-content .icon img{
        max-width: 36px;
    }
    #reviews .reviews-description h1{
        font-size: 20px;
    }
    #reviews .reviews-description .reviews-description-para, #reviews .reviews .review-card .reviews-card-detail{
        font-size: 15px;
    }
    #reviews .reviews .review-card .reviews-card-detail{
        margin: 0 0 6px;
    }
}