@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "variables";
@import "header";
@import "index";

@import "projects";
@import "about";
@import "contact";

@import "footer";
@import "responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
}
.text-center{
  text-align: center;
}
.container{
  width: 100%;
  max-width: 1126px;
  margin: 0 auto;
  padding: 0 10px;
}
.projects_container{
  margin: 60px auto 0;
}
.flex_betwen{
  display: flex;
  justify-content: space-between;
}
.flex{
  display: flex;
}
.active{
  border-bottom: 2px solid $primary !important;
}
.primary{
  color: $primary;
}
.white{
  color: #fff;
}
.darkPrimary{
  background-color: $darkPrimary;
}